@import 'normalize';

body {
  text-align: center;
}

.bottom-message {
  padding: 1.5rem;
}

.content {
  text-align: center;
  display: flex;
}

.content-section {
  border: 1px;
  ;
}

.divider {
  padding: 2em;
}

// .hidden {
//   display: none;
// }
