// @import 'normalize';

body {
  text-align: center;
  font-family: 'Source Code Pro', monospace;

  background-image: url('public/should-wang-1401880-unsplash.jpg');
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bottom-message {
  padding: .5rem;
  color: red;
}

.collapsible-body {
  background-color: white;
  overflow: auto;
}


.nav-bar-style {
  margin-bottom: .5em;
}

.title {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5em;
}

.welcome-title {
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em cyan, 0 0 0.2em cyan;
}

.input-field {
  color: white;
  }

.small-message {
  color: white;
}

.hidden {
  display: none;
}

@media (max-width: 540px) {
  .title {
    font-size: 1.5rem;
  }
}
